- project:
    name: f23master
    project: f23master
    os: f23
    prefix: freeipa
    git-branch: master
    git-url: git://git.fedorahosted.org/git/freeipa.git
    git-browser-url: https://git.fedorahosted.org/cgit/freeipa.git/
    options-dns-setup: >
        --setup-dns
        --forwarder=$FREEIPACI_DNS_FORWARDER
    options-ca-setup: ""
    domain_level:
        - 0
        - 1
    report-mail-address: your.email@example
    copr-repos:
        - mkosek/freeipa-master
    enable-updates-testing: true
    jobs:
        - build-and-check
        - docs

# vi: set ft=yaml :
