
- project:
    name: f20
    os: f20
    prefix: freeipa
    git-branch: master
    git-url: git://git.fedorahosted.org/git/freeipa.git
    git-browser-url: https://git.fedorahosted.org/cgit/freeipa.git/
    options-dns-setup: >
        --setup-dns
        --forwarder=$FREEIPACI_DNS_FORWARDER
        --reverse-zone=$FREEIPACI_DNS_REVERSE_ZONE
    options-ca-setup: ""
    report-mail-address: your.email@example
    jobs:
        - build-and-check
